@{
    Layout  = "_LayoutAdmin";
    ViewBag.Title = "Phòng";
}
@model Room
<h4>
     Phòng #@Model.RoomId
</h4>

<div class="row">
     <div class="col-4 mx-auto">
            <form asp-controller="ConfigRoom" asp-action="Config" method="post">
                <div asp-validation-summary="All"></div>
                    @if(!String.IsNullOrEmpty(ViewBag.message)){
                        <div class="alert alert-success">@ViewBag.message</div>
                    }
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" name="countRoom">
                        <label for="form1">Mã phòng</label>
                    </div>
                    <div class="md-form">
                     <select class="custom-select custom-select-sm">
                            <option selected>Thêm khách hàng</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                    </select>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form3" class="form-control" name="roomId">
                        <label for="form1">Loại phòng</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form4" class="form-control" name="roomId">
                        <label for="form1">Số điện thoại</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form5" class="form-control" name="roomId">
                        <label for="form1">Họ tên</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form5" class="form-control" name="roomId">
                        <label for="form1">Chứng minh nhân dân</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form6" class="form-control" name="roomId">
                        <label for="form1">Địa chỉ</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form6" class="form-control" name="roomId">
                        <label for="form1">Thời gian đặt</label>
                    </div>
                    <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit">Thiết lập</button>
            </form>
    </div>
</div>
