@{
    Layout = "_Layout";
    	ViewBag.Title = "Dịch vụ";
}
	<div id="colorlib-amenities">
			<div class="container">
				<div class="row">
					<div class="amenities-flex">
						<div class="amenities-img animate-box" style="background-image: url(/uploads/amenities-1.jpg);"></div>
						<div class="desc animate-box">
							<h2><a href="#">Airport Shuttle &amp; Parking Lot</a></h2>
							<p class="price">
								<span class="free">Free</span>
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
						</div>
						<div class="desc animate-box">
							<h2><a href="#">Room Service </a></h2>
							<p class="price">
								<span class="free">Free</span>
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
						</div>
						<div class="amenities-img animate-box" style="background-image: url(/uploads/room-5.jpg);"></div>
						<div class="amenities-img animate-box" style="background-image: url(/uploads/amenities-2.jpg);"></div>
						<div class="desc animate-box">
							<h2><a href="#">SPA &amp; Beauty Centre</a></h2>
							<p class="price">
								<span class="currency">$</span>
								<span class="price-room">59</span>
								<span class="per">/ per person</span>
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
						</div>
						<div class="desc animate-box">
							<h2><a href="#">Conference Hall for Business Events</a></h2>
							<p class="price">
								<span class="currency">$</span>
								<span class="price-room">359</span>
								<span class="per">/ per night / room</span>
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
						</div>
						<div class="amenities-img animate-box" style="background-image: url(/uploads/amenities-3.jpg);"></div>
					</div>
				</div>
			</div>
		</div>
	
		<div id="colorlib-subscribe" style="background-image: url(/uploads/img_bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
						<h2>Sign Up for a Newsletter</h2>
						<p>Get A 50% Discounts in every Rooms, Book now!</p>
						<form class="form-inline qbstp-header-subscribe">
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Enter your email">
										<button type="submit" class="btn btn-primary">Subscribe</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>